*{background-color: palegoldenrod;}

h1{
    font-size: 2rem;
    color: blue;
    font-weight: 600;
    text-align: center;
}


h2{
    font-size: 1.5rem;
    color: brown;
}

h3{
    font-size: 1.3rem;
    color:brown
}

a{
    background-color: aqua;
    color: beige;
    text-decoration: none;

}
